body {
  margin: 0px;
  background-color:#D1BFD8;
}

#ymas{
	text-align: center;
    color: beige;
    font-size: 25px;
	font-family: 'Roboto', sans-serif;
	background-color: #0D2038;
	height: 40px;
	margin-top:-3px;
}

#pregunta {
	text-align: center;
    color: #956E7F;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

#logo{
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

.menu{
  display: flex;
  justify-content: space-between;
  background:#0D2038;
  border-bottom: 1px solid black;
  height: 40px;
}

.menu a{
  flex: 1;
  font-family: arial;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;    
  justify-content: center;
  align-items: center;
}

.menu a:hover{
  background: #956E7F;
}

.menu a.active{
  background-color:#893257;
}

@media (max-width: 768px) {
  
  .menu{
      height: auto;
      border-bottom: 0px;
      display: block;
  }
  
  .menu a{
      height: 45px;
      border-bottom: 1px solid white;
  }

}


p{
        color: #893257;
        text-align: right;
		margin-right:10px;
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        line-height: 80%;
        margin-top: 50px;
    }

 a img{
    width: 30px;
    height: 30px;
    float: right-side;
    margin-left:10px;
	margin-bottom;-5px;
	
    }
	
h1{
    text-align: center;
    color: #893257;
    font-size: 45px;
    font-family: 'Lobster', cursive;
}
h3{
    text-align: center;
    color: #956E7F;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

#img2{
	width:360px;
    height:360px;
	margin-left:38px;
}

#otros{
	text-align: center;
    color: #893257;
    font-size: 45px;
    font-family: 'Lobster', cursive;
}


    #desc{
        font-size: 17px;
        color:#fff ;
        text-align: center;
        font-family: 'Roboto', sans-serif;
     
    }
    #name2{
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        color: #fff;
        
    }
    #name{
        font-size: 35px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        
    }
    .table2{
        background-color: #0d2038;
        height: 50px;
        width: 100%;
        margin: 0 auto;
    }
   

/********** Medium devices only **********/
@media (max-width: 1199px) {
#img2{
	width:325px;
    height:325px;
	margin-left:38px;
}
}

/********** Small devices only **********/
@media (max-width: 991px){
	#img2{
	width:248px;
    height:248px;
	margin-left:38px;
}
}

/********** Extra small devices only **********/
@media (max-width: 767px){
	#img2{
	width:210px;
    height:210px;
	margin-left:20px;
}
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
	#img2{
	width:110px;
    height:110px;
	margin-left:10px;
}

h2{
	height: 70px;
}
}